@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "BioRhyme", serif;
  --white-col: #fff;
  --yellow-col: #ffcc40;
  --red-col: #ee202e;
  --brown-col: #780a34;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  /* border: 1px solid green;  */                                  
}
html {  
  font-size: 62.5%;
  font-family: var(--primary-font);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--secondary-font) !important;
}
.padding{
  padding-top: 100px;
  padding-bottom: 100px;  
}
h3{                                                  
  font-size: 5.5rem;   
  font-weight: 800;  
  line-height: 65px;  
  color: var(--red-col);
}
h3 span{
  color: #42170d !important;      
}
h4{
  font-size: 2.4rem;    
  font-weight: 800;  
  color: #42170d;             
}
h4 span{
  color: #ff5559;   
}
p{
  color: #42170d;
  font-size: 1.6rem;   
}

/* header starts */
.navbar {
  position: relative;
  z-index: 20;
}
.navbar-brand img {       
  width: 70% ;                    
} 
.nav-item {
  position: relative;
  transition: 0.5s;
  margin: 0 15px;
  padding: 0 7px;
}
.nav-item .nav-link {  
  color: var(--white-col);
  font-size: 1.6rem;
  line-height: 28px;
  font-weight: 700;
}
.nav-menu .active a {
  color: var(--yellow-col);
}
.nav-item.active::after {
  width: 100%;
}
.nav-item::after {
  content: "";
  width: 0%;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--yellow-col);
  transition: 0.5s;
}
.nav-item:hover::after {
  width: 100%;
}
.nav-item:hover .nav-link {
  color: var(--yellow-col);
}
.hamburger {
  display: none;
  position: relative;
  z-index: 20;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--yellow-col);
}
.add-me {                                          
  transition: 0.3s ease-in-out;
  background-color: var(--red-col);    
  opacity: .97;                     
  box-shadow: 0rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.13); 
  padding-bottom: 0.12rem;      
  padding-top: 0 !important; 
} 
.add-me .nav-item .nav-link{
  line-height: 52px;                                                          
}
.add-size{    
  width: 25% !important;  
} 
                                                
@media only screen and (max-width: 991px){  
  .nav-menu {
    position: fixed;
    z-index: 20;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: var(--red-col);
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
 .navbar-brand img {       
    width: 40% ;              
  }                       
  .nav-item.active::after,
  .nav-item:hover::after {
    width: inherit !important;
  }
}
/* header ends */   

/* banner starts */ 
.banner {                          
  background-color: var(--red-col);         
  width: 100%;
  height: 93vh;     
  padding-top: 210px;     
  position: relative;    
  z-index: 10;                         
}
.banner::after {
  content: " ";
  background-image: url(../images/foodtruck2-slider-bg.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}  
.banner h4 {
  font-size: 2rem;
  font-weight: 800;
}
.banner h2 {
  font-size: 7.5rem;
  font-weight: 800;
  line-height: 76px;
}
.banner p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 21px;
  max-width: 350px;                  
}
.btn {             
  background: var(--white-col);
  color: var(--brown-col);
  border-radius: inherit;
  border: 3px solid var(--brown-col); 
  padding: 13px 19px;
  font-size: 1.4rem; 
  font-weight: 700;
  box-shadow: 4px 4px rgb(164 43 43);   
}
.btn:hover {
  color: var(--white-col);
  background-color: var(--brown-col);
  transform: translateY(1px);
  transition: 0.4s linear; 
  border-color: var(--brown-col);                         
}
.bottom-img {
  position: absolute; 
  bottom: 0;
  left: 15rem;
}

@media only screen and (max-width: 991px) {          
  .banner h4 {
    font-size: 1.4rem;
  }
  .banner h2 {
    font-size: 4.3rem;
    line-height: 48px;
  }
  .btn {
    border: 2px solid var(--brown-col);
    padding: 8px 12px;
    font-size: 1.2rem;
    box-shadow: inherit !important;
  }
  .bottom-img {  
    left: 8rem;   
  }
  .banner {
    height: auto !important;  
    padding-top: 110px;         
  }
}
/* banner ends */   

/* food contant starts */
#food-contant {   
  width: 100%;
  /* height: 90vh;      */  
  background-color: #fef9eb;             
  background-image: url(../images/foodtruck2-sectionbg-1.png);           
  background-repeat: no-repeat;          
  background-size: contain;   
  background-position: center;    
  background-position-y: 250px;                                                                                                                                                                                          
}  
#food-contant .food-box{
  border: 1px dashed #cccc; 
  padding: 80px 40px 60px;         
}             
#food-contant .max-width{ 
  max-width: 550px;              
}
.custom-width{     
  max-width: 1200px;           
}

@media only screen and (max-width:767px) {             
  h3{                                                 
    font-size: 3.3rem;    
    line-height: 39px;  
  }                               
  h4{
    font-size: 1.4rem;                
  }                               
  p{
    font-size: 1.3rem;   
  } 
  #food-contant {   
    background-position-y: 180px;                                                                                                                                                                                             
  }  
}
/* food contant ends */ 

/* our special starts */  
 #our-special .food-img{  
  background-size: cover;  
  background-position: center;           
  background-repeat: no-repeat;                    
 }
 #our-special .food1{                                                
  background-image: url(../images/foodtruck2-menu-pic4.webp);        
 }   
 #our-special .food2{ 
  background-image: url(../images/foodtruck2-menu-pic3.webp);         
 }   
 #our-special .food3{ 
  background-image: url(../images/foodtruck2-menu-pic5.webp);        
 }     

#our-special .right-sec{      
  max-width: 550px;                
  margin: 0 auto;          
}                                
#our-special .price-box{  
  border: 2px dashed #cccc;                        
  padding: 20px 30px 5px;                  
}                                    
#our-special .price-box:hover{            
  border-color: var(--red-col) !important;                              
}
#our-special .left-sec{   
  background-color: var(--red-col);         
}
#our-special .price-border{                  
  width: 100%;                       
  box-shadow: 4px 4px #d3b9c2;    
  font-size: 1.6rem;    
  padding: 8px 0px;          
  transform: inherit;   
  border-width: .35rem;                                             
}         
#our-special span{
  color: var(--red-col); 
}     
#our-special .fix-height{ 
  height: 555px;                           
}          

@media only screen and (max-width:991px){   
 #our-special .fix-height{    
    height: 250px;                                                         
  } 
}
/* our special ends */            




